.m-4081bf90 a, main.__className_f367f3 > div:last-child, .m-3eebeb36.mantine-Divider-root {
    display: none !important;
}

html[data-mantine-color-scheme="light"] body {
background-color: #f5f5f7 !important;
}

html[data-mantine-color-scheme="dark"] body {
  background-color: #000000 !important;
}

body {
    padding-top: 20px !important;
}
